/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Roboto Mono', monospace;
}
body {
    background-color: #79e6f4;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #000;
}

a {
    /* No underlinking when hovering over a link */
    -webkit-text-decoration: none;
            text-decoration: none;
    color: #357b70;
}
a:visited {
    color: #05676e;
}
a:active {
    color: #489c79;
}
a:hover {
    /* No underlining when hovering over a link */
    -webkit-text-decoration: none;
            text-decoration: none;
}
a:focus {
    /* No underlining when hovering over a link */
    -webkit-text-decoration: none;
            text-decoration: none;
}

.button {
    /* overwrites browser defaults and resets the border */
    border: 1.5px solid #000;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #fff;
    color: #000;
    -webkit-text-decoration: none;
            text-decoration: none;
    /* adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    text-align: center;
}
button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    text-align: center;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    /* Header includes logo and main navigation bar */
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.page-header__item:first-child {
    height: 350px;
    width: 500px;
    float: left;
    margin: -50px -50px;
}
.navigation-menu {
    list-style-type: none;
    font-size: 24px;
}
.navigation-menu__item--active {
    -webkit-text-decoration: none;
            text-decoration: none;
}

p {
    font-size: 24px;
}

.about-me-intro-text {
    text-align: center;
    font-size: 24px;
}
.about-table {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -15px;
}
.about-table-heading {
    -webkit-text-decoration: underline;
            text-decoration: underline;
}
td, th {
    padding: 5px 10px;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}
.profile__portrait {
    float: center;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    /* Add a transition for smooth animation */
    transition: transform 0.5s;
}
.profile__portrait:hover {
    /* Increase scale of image while hovering */
    transform: scale(1.05);
}
.profile__portrait:active {
    /* Restore original scale when clicked */
    transform: scale(1);
}


/*
#evan {
    background-color: lightgray;
} */
#white-color {
    background-color: #fff;
    color: #000;
}
#black-color {
    background-color: #000;
    color: #fff;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
}
.grid__item {
    background-color: rgb(211,211,211);
    padding: 10px;
    border: solid black 2px;
}
.work__description {
    font-size: 16px;
}
.work-headers {
    text-align: center;
}
.view-work-link {
    text-decoration: underline;
}

.contact-information {
    margin: 20px;
    text-align: center;
}
.contact-form-section {
    margin: 20px;
    text-align: center;
}
#contact-message {
    height: 75px;
    width: 200px;
    resize: none;
}
.form-submit {
    display: inline-block;
    clear: right;
}

.download-cv-button {
    text-align: center;
    margin-bottom: 15px;
}

/* Animation (nav menu) 257-297 */
@import 'https://fonts.googleapis.com/css?family=Raleway';
.borderYtoX {
    font-family: 'Roboto Mono', monospace;
	text-align: left;
}
.borderYtoX a {
    color: #000;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 15px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.orange {
    background: #F9B872;
}
.borderYtoX a:before, .borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 3px;
    content: '';
    background: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.borderYtoX a:before {
    left: 0px;
    top: 0px;
}
.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}
.borderYtoX a:hover:before, .borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}

.svg-hometown {
    text-align: center;
}
@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
/* long version of code below:
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
} */
}
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}
.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Animation (typing/blinking) */
.profile {
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    display: grid;
    place-items: center;
    width: 350px;
}
.typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 2.3s steps(30, end) forwards, blinking .8s infinite;
    padding: 5px;
}

.typed-about-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 3s steps(30, end) forwards, blinking .8s infinite;
    padding: 5px;
    max-width: 100%;
}

@keyframes typing {
    from { width: 0 }
    to { width: 152% }
}
@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: black}
    100% {border-color: transparent}
}

@media all and (max-width: 500px) {
    /* small devices */
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    /* medium devices */
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    /* shared code for above media queries */
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 24px;
    }
}