:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --text-color: #2b2b2b;
    --background-color: beige;
    --secondary-text-color: white;
    --button-background-color: brown;
    --secondary-button-background-color: #e0b354;
    --grid-item-background-color: rgb(211,211,211);
    --sun-color-change-start: #edc655;
    --sun-color-change-50-percent: #fcffad;
    --sun-color-change-100-percent: #f76414;
    --active-link-color: #489c79;
    --visited-link-color: #05676e;
    --font-size-24px: 24px;
    --font-size-16px: 16px;
    --align-center: center;
    --text-decoration-none: none;
    --text-decoration-underline: underline;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-16px);
    line-height: 1.6;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: var(--align-center);
}
#home-heading {
    text-decoration: var(--text-decoration-none);
}
#about-heading {
    text-decoration: var(--text-decoration-none);
}
#contact-heading {
    text-decoration: var(--text-decoration-none);
}
#work-heading {
    text-decoration: var(--text-decoration-none);
}
a {
    /* No underlinking when hovering over a link */
    text-decoration: var(--text-decoration-none);
    color: var(--primary-color);
}
a:visited {
    color: var(--visited-link-color);
}
a:active {
    color: var(--active-link-color);
}
a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: var(--text-decoration-none);
}
button, .button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--button-background-color); /* changed from lightgray */
    color: var(--secondary-text-color);
    text-decoration: var(--text-decoration-none);
    /* adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition: opacity 0.2s;
}
button:hover, button:focus, .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    text-align: var(--align-center);
}
.button__secondary {
    background-color: var(--secondary-button-background-color);
    color: var(--text-color);
}
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    /* Header includes logo and main navigation bar */
    flex: 0 1 200px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.page-header__item:first-child {
    height: 75px;
    width: 350px;
}
.navigation-list {
    list-style-type: none;
    font-size: var(--font-size-24px);
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
.navigation-list__item--active {
    text-decoration: var(--text-decoration-none);
}
p {
    font-size: var(--font-size-24px);
}
.about-me-intro-text {
    text-align: var(--align-center);
    font-size: var(--font-size-24px);
}
.about-table {
    text-align: var(--align-center);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -15px;
}
.about-table-heading {
    text-decoration: var(--text-decoration-underline);
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
#profile__portrait {
    float: right;
    width: 233px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    transition: transform 0.5s; /* Add a transition for smooth animation */
}
  .profile__portrait:hover {
    transform: scale(1.05); /* Increase the scale when hovering */
}
  .profile__portrait:active {
    transform: scale(1); /* Restore the original scale when clicked */
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: var(--align-center);
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.grid__item {
    background-color: var(--grid-item-background-color);
    padding: 10px;
}
.work__description {
    font-size: var(--font-size-16px);
}
#contact-message {
    height: 75px;
    width: 200px;
    resize: none;
}
td, th {
    padding: 5px 10px;
}
.download-cv-button {
    text-align: var(--align-center);
    margin-bottom: 15px;
}


@import 'https://fonts.googleapis.com/css?family=Raleway';
html, body {
    margin: 0px;
}
.borderYtoX {
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 1em;
	text-align: center;
}
.borderYtoX a {
    color: #000;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 15px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.orange {
    background: beige;
}
.borderYtoX a:before, .borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 3px;
    content: '';
    background: #000;
    transition: all 0.3s;
}
.borderYtoX a:before {
    left: 0px;
    top: 0px;
}
.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}
.borderYtoX a:hover:before, .borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}


.svg-hometown {
    text-align: var(--align-center);
}
@keyframes color-change {
    0% {
        fill: var(--sun-color-change-start);
    }
    50% {
        fill: var(--sun-color-change-50-percent);
    }
    100% {
        fill: var(--sun-color-change-100-percent);
    }
}
.sun {
    animation: 4s color-change infinite alternate linear;
/* long version of code below:
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
} */
}
@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}
@media all and (max-width: 500px) {
    /* small devices */
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    /* medium devices */
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    /* shared code for above media queries */
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: var(--font-size-24px);
    }
}